<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="1000" sqlCommandTimeout="1000"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="cn1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\TechQuiz\App_Data\Database.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>
